// Colours
$offWhite: #eaeaea;
$white: #f7f7f7;
$red: #de2811;
$yellow: #f7ec14;
$green: #117311;
$black: #000000;

$backgroundColor: $offWhite;

// Spacing
$sectionPadding: 2rem;

// Timeline
$timelineWidth: 8px;
$eventToTimelineMargin: 50px;

$eventDotSize: 50px;
$condensedEventDotSize: 25px;

$timelineFadeHeight: 10px;
$timelineGradientHeight: 80%;

$timelineSmallScreenRightOffset: 10px;

// Media Queries
$smallScreen: 40.0625rem;
$mediumScreen: 62.9375rem;

// Container Widths
$formWidth: 50rem;
$textWidth: 80rem;
$displayWidth: 120rem;
